.certificates {
  background: var(--db5);
  padding: 20px;
  position: relative;
}

.certificates-inner {
  padding: 200px 0 120px 0;
  max-width: 1160px;
  margin: 0 auto;
}

.certificates .section-heading {
  padding-bottom: 140px;
}

.documents {
  display: grid;
  grid-template-columns: repeat(auto-fit, 260px);
  column-gap: 30px;
  row-gap: 80px;
  max-width: 1130px;
  position: relative;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.documents div {
  background: var(--bnoise-min);
  padding: 30px 0;
  max-height: 65px;
  border-radius: 15px;
  position: relative;
  z-index: 2;
  transition: transform 0.3s ease;
  cursor: help;
}

.documents div:hover {
  transform: translateY(-10px);
}

.documents div:nth-child(2n) {
  margin-top: 40px;
}

.documents div span {
  font-weight: 700;
  display: block;
  padding-top: 10px;
  font-size: 1.125em;
  color: var(--db1);
  text-transform: uppercase;
}

.documents h3 {
  font-weight: 700;
  font-size: 1.5em;
  color: var(--dw1);
  text-transform: uppercase;
  padding-top: 5px;
}

.documents p {
  font-size: 0.875em;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--db2);
  padding-top: 5px;
}

.origamid::before {
  background: url(../img/webp/origamid.webp);
  transition: 0.3s ease;
}

.origamid:hover::before {
  background: url(../img/webp/origamid-hover.webp);
  background-size: cover;
}

.google::before {
  background: url(../img/webp/google.webp);
  transition: 0.3s ease;
}

.google:hover::before {
  background: url(../img/webp/google-hover.webp);
  background-size: cover;
}

.senai::before {
  background: url(../img/webp/senai.webp);
  transition: 0.3s ease;
}

.senai:hover::before {
  background: url(../img/webp/senai-hover.webp);
  background-size: cover;
}

.origamid::before,
.google::before,
.senai::before {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: -70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-size: cover;
}

.documents .decorator-gray {
  top: -200px;
  right: 5px;
}

.certificates .separator-black {
  left: 0;
  bottom: -40px;
}

.certificates .neon-blur-10,
.certificates .neon-blur-20,
.certificates .neon-blur-40 {
  z-index: 2;
  transform: skewY(-1.5deg);
  top: unset;
  bottom: -40px;
  right: 0;
  height: 10px;
}

@media (max-width: 1170px) {
  .documents div:nth-child(2n) {
    margin-top: unset;
  }
  .documents {
    row-gap: 100px;
  }
  .certificates .section-ending {
    padding-top: 100px;
  }
}

@media (max-width: 700px) {
  .documents .decorator-gray {
    top: -100px;
    right: 5px;
  }
}
